#title{
	font-size: 1.625rem;
	line-height: 4.6875rem;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 18.75rem;
	height: 4.6875rem;
	font-size: 1rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1.125rem;
	width: 17.1875rem;
	height: 4.375rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.375rem;
	width: 20.3125rem;
	height: 5.3125rem;
}

.container {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem; 
	grid-template-columns: repeat(3, 1fr);
	border: 2px solid red; 
	padding: 1rem;
  }

  

